.suspectForm {
    margin-left: 35%;
    margin-right:25%;
    width: 30%;
    text-align: center;
    color: white;
    font-size: 1rem;    
  }
.suspect__image img{
    width: 60%;
    height: 5%;
}

.suspect__new {
  margin-left: 10%;
  margin-right:25%;
  width: 80%;
  text-align: center;
  color: white;
  font-size: 1rem;    
}

h1 {
  color: #fff;
 }

  .form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
     
  }
  
.suspectForm__title {
    height: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-top: 3px solid #f51111;
    border-bottom: 3px solid #f51111;
 }

.suspects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
  }
  
.suspect {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 5px solid #6b0707;
    background-color: rgba(0,0,0,.6);
    color: #fff;    
    text-align: center;
    font-family: "Comfortaa", Arial, sans-serif;      
  }