/* .profile {
	background-image: url(http://cdn.shopify.com/s/files/1/1221/6520/t/2/assets/hero_slide_1_1024x1024.jpg?v=17678322770933107123);
    background-repeat:no-repeat;
    background-size: 1600px 600px;
  } */
  .profile__info {
      background-color: rgba(0,0,0,.8);
      padding: 1rem;
    margin: 20px 400px;
    }
  
.registration {
    border: 1px solid#6b0707;
    padding: 1rem;
    margin: 20px 400px;
    background-color: rgba(0,0,0,.8);
    
}

.registration__movie {
    font-family: "Patua One";
    font-weight: bold;
    letter-spacing: 0.15rem;
    
}

.profile__image img{
    width: 60%;
    height: 5%;
}

.profile {

    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 5px solid #6b0707;
    /* background-color: #6b0707;     */
    color: rgb(168, 21, 21);
    text-align: center;
    font-family: "Comfortaa", Arial, sans-serif;

}